<div id="landing_pane" class="pane onscreen">
  <%= image_tag "intro.jpg", id: "play_button"%>
</div>

<div id="game_pane" class="pane offscreen">
  <nav id="conveyor">
  
    <%= image_tag "conveyor-eg.png" %>
  
  </nav>
      
  <section id="interaction">
  
    <button id="heart"></button>
    
    <time>2:00</time>
    
    <div id="encourage">We're losin' him Jimmy!</div>
  </section>

  <div>
    <audio id="track" src="<%= asset_path 'alive.mp3' %>" preload="auto" />
  </div>
</div>