// Place all the styles related to the view controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

html{
  background: #282828;
}

body{
  position: relative;
  margin: auto;
  width: 520px;
  background: white;
  height: 800px;

  overflow: hidden;

  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.pane{
  position: absolute;
  width: 520px;
  height: 800px;
  top: 0px;
  left: 520px;
  -webkit-transition: left 0.3s ease;
  background-color: #faf6eb;

  &.onscreen{
    left: 0px;
  }

  &.left{
    left: -520px;
  }
}

#landing_pane{
  background: #4DC3FF;
}

#game_pane{
  background: #7C56FF;
}

.audiojs{
  display: none;
}

#conveyor {
  background-color: pink;
  margin-bottom: 40px;
}

  #conveyor li {
    display: inline-block;
  }

#interaction {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgba(0,0,0,.02);
} 

  #heart {
    position: absolute;
    width: 125px;
    height: 120px;
    background: url(../img/heart.png) no-repeat;
    cursor: pointer;

    border: none;  
  }
  
  #heart:active {
    background-position: 0 -110px;
  }





  